<div class="sidebar">
  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>

      <p class="lead">{{ site.description }}</p>
    </div>

 <nav class="sidebar-nav">

  <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}"
     href="{{ '/' | relative_url }}">
    Home
  </a>

  <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}"
     href="{{ '/about/' | relative_url }}">
    About
  </a>

  <a class="sidebar-nav-item{% if page.url == '/skills/' %} active{% endif %}"
     href="{{ '/skills/' | relative_url }}">
    Skills
  </a>

  <a class="sidebar-nav-item{% if page.url == '/work-history/' %} active{% endif %}"
     href="{{ '/work-history/' | relative_url }}">
    Work History
  </a>

  <a class="sidebar-nav-item{% if page.url == '/education/' %} active{% endif %}"
     href="{{ '/education/' | relative_url }}">
    Education
  </a>

  <a class="sidebar-nav-item{% if page.url == '/contact/' %} active{% endif %}"
     href="{{ '/contact/' | relative_url }}">
    Contact
  </a>

</nav>

    <div class="sidebar-links">

      <a href="mailto:jasminemangic.wk@gmail.com" title="Email">
        <i class="fa-solid fa-envelope"></i>
      </a>

      <a href="https://www.linkedin.com/in/jasminemangic/" target="_blank" title="LinkedIn">
        <i class="fa-brands fa-linkedin"></i>
      </a>

      <a href="https://www.seek.com.au/profiles/jasmine-mangic-dT59cbVqmD" target="_blank" title="Seek">
        <i class="fa-solid fa-briefcase"></i>
      </a>

    </div>

    <a class="contact-button" href="/contact/">Contact Me</a>

 <p class="sidebar-footer">
  &copy; {{ site.time | date: '%Y' }} Jasmine Mangic<br>
  Built with the Hyde theme by Mark Otto (MIT License).
</p>
    </p>

  </div>
</div>
